ANTHROPIC_API_KEY="your-anthropic-api-key"

# Cheapest Claude Model
CLAUDE_MODEL="claude-haiku-4-5"

# Use http://localhost:8000 only if running in local
VITE_API_URL="http://localhost:8000"

# Used by backend/automate.py, live backend URL is https://timesheet-auditor-api.politesky-af322db0.eastus.azurecontainerapps.io
API_URL="http://localhost:8000"
